<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado</title>
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div id="app">
    <div class="wrapper">
        <div class="sidebar">
            <h2>Mercado</h2>
            <ul>
                <li><a class="menu-link" href="#"><i class="fas fa-home"></i>Produtos</a></li>
                <li><a class="menu-link" href="#"><i class="fas fa-user"></i>Cadastrar produtos</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header">Produtos</div>
            <div class="listagem">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Estoque</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Preço Imposto</th>
                            <th scope="col">Preço Estoque</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Função</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="produto in products">
                            <td>{{ produto.nome }}</td>
                            <td>{{ produto.estoque }}</td>
                            <td>{{ produto.categoria }}</td>
                            <td>{{ produto.preco }}</td>
                            <td>{{ produto.preco_imposto }}</td>
                            <td>{{ produto.preco * produto.estoque }}</td>
                            <td><input v-bind:text="mudaValor" v-bind:id="produto.id" type="email" class="form-control">
                            </td>
                            <td><button type="button" v-on:click="printaValor(produto.id)"
                                    v-bind:idProdutoSubmit="produto.id" class="btn btn-warning">Vender</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>













<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./assets/js/main.js"></script>


<body>

</body>

</html>