@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.menu-link:link {
    text-decoration: none;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}
.listagem{
    padding: 1rem;
    font-size: 12px !important;
}
.item{
    border-top: none !important;
}
li{
  cursor: pointer;
}
.displayNone{
  display: none !important;
}
.form{
  padding: 4rem;
}
.tituloAdd{
  margin-bottom: 2rem;
}
.DPFlexJCC{
  display: flex;
  justify-content: center;
}
#formLogin{
  padding: 5rem;
  color: #fff;
  background-color: #4b4276;
  border-radius: 8%;
  box-shadow: 34px -10px gray;
}
.botaoLogin{
  color: #fff !important;
  background-color: #72488C !important;
  border-color: #72488C !important;
}
.botaoLogin:hover{
  background-color: #7B4282 !important;
  border-color: #7B4282 !important;
}
.formBotao{
  margin-bottom: 0 !important;
  display: flex;
  justify-content: center;
}
.red{
  color:red;
  font-weight: 600;
}
.inputVendida{
  font-size: 13px !important;
}
.editar{
  margin-left: .3rem !important;
}
.colBlock{
  display: inline-flex;
}
.green{
  color: rgb(79, 182, 79);
}